@import url(global.css);

img {
    display: block;
}

#prof-header {
    height: 40px;
    width: 40px;
}

.profile {
    border-radius: 50%;
    object-fit: cover;

}

nav,
nav ul {
    display: flex;
    align-items: center;
}

nav {
    justify-content: space-between;
    height: 80px;
    padding-block: 20px;
}

nav ul {
    list-style: none;
    height: 40px;
    gap: 24px;
    padding-block: 8px;
}