@import url(global.css);

img {
    display: block;
}

#prof-nav {
    height: 40px;
    width: 40px;
}

#prof-header {
    height: 176px;
    width: 176px;

}

.profile {
    border-radius: 50%;
    object-fit: cover;

}

nav,
nav ul,
header,
#about,
#info ul,
#info ul li {
    display: flex;
    align-items: center;
}

nav {
    justify-content: space-between;
    height: 80px;
    padding-block: 20px;
}

nav ul {
    height: 40px;
    gap: 24px;
    padding-block: 8px;
}

header {
    height: 240px;
    justify-content: space-between;
    padding-block: 32px;
}

#about {
    width: 592px;
    gap: 32px;
}

#about h1 {
    margin-bottom: 8px;
}

#info {
    width: 280px;
}

#info ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    font: var(--text-md);
}

#info ul li {
    gap: 8px;
}