#prof-nav {
    height: 40px;
    width: 40px;
}

nav,
nav ul {
    display: flex;
    align-items: center;
}

nav {
    justify-content: space-between;
    height: 80px;
    padding-block: 20px;
}

nav ul {
    height: 40px;
    gap: 24px;
    padding-block: 8px;
}